/* 3f8f8d for header */


header{
    background-color: #3f8f8d;
    height: 52px;
    width:100%;
align-items: center;
color: white;
display: flex;
justify-content: space-between;
padding-left: 50%;
}

body {
    background-image: url(../img/white.jpg);
    background-size: cover;
flex-direction: column;

    height: 100px;
    
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    display: flex;
    flex:center;

}
 
footer {
flex-direction: column;
  text-align: center ;
}

 